<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:fragment="header" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Spring Boot Security Example</a>
    </div>
    <!-- /.navbar-header -->

    <!--
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            	<i class="fa fa-user fa-fw"></i><span></span>&nbsp;<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="userChangeSettings"><i class="fa fa-wrench fa-fw"></i> Configuraci&oacute;n</a></li>
                <li><a href="userChangePassword"><i class="fa fa-gear fa-fw"></i> Cambiar password</a></li>
                <li class="divider"></li>
                <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesi&oacute;n</a>
                </li>
            </ul>
        </li>
    </ul>
    -->

</nav>